body {
    font-family: Arial;
    background: #121212;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.player {
    background: #1e1e1e;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    width: 300px;
}

button {
    padding: 10px;
    margin: 10px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background: #444;
}

#progress {
    width: 100%;
}
